<style>
    footer {
        margin-top: auto;
    }

    .f-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    .f-info-socials{
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }

    .f-info-socials a {
        color: #333;
        text-decoration: none;
    }

    .f-info-brand {
        font-weight: bold;
    }

    .f-info-links a {
        margin-left: 0.75rem;
        color: #333;
        text-decoration: none;
    }
    .bl{
        color: #0f44b8;
    }
    .in{
        color: #E1306C;
    }
</style>

<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="#" ><i class="fa-brands fa-square-facebook bl"></i></a>
            <a href="https://www.instagram.com/urbancove.97ie/"><i class="fa-brands fa-square-instagram in"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin bl"></i></a>
        </div>
        <div class="f-info-brand" >&copy; UrbanCove Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
